@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #e94500;
  --primary-2: #f99a2c;
  --primary-3: #fb657e;
  --secondary-1: #ff9214;
  --secondary-2: #fff5ec;

  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 이미지 페이지 네이션 커스터마이즈드 스타일 */
.custom-swiper-pagination .swiper-pagination-bullet {
  @apply bg-gray-900 opacity-50; /* 기본 페이지네이션 색상 */
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-white opacity-100; /* 현재 보여지는 이미지 페이지네이션 스타일 */
}

.Toastify__toast-theme--dark {
  opacity: 0.6;
}

.Toastify__toast {
  width: unset;
  border-radius: 15px;
  min-height: unset;
  margin-top: 55px;
  font-size: 14px;
  padding: 10px;
  font-weight: 100;
}

/* Auth 영역 */
.auth_page_wrapper {
  @apply min-h-screen pb-[30px];
}
.auth_page_desktop_width {
  @apply w-full max-w-[1440px] items-center justify-center desktop:mx-auto;
}

.common_input {
  @apply mt-[12px] flex h-[56px] w-full flex-shrink-0 items-center gap-[10px] self-stretch rounded-[8px] border border-[#A1A6AA] px-[12px] py-[10px] text-base placeholder-[#868C92];
}

.common_input_err_massege {
  @apply mt-[8px] py-[2.5px] pl-[10px] text-[14px];
}

.login_wrapper {
  @apply mobile:px-[20px] mobile:pt-[12px];
}

.login_wrapper_desktop {
  @apply desktop:px-[34px] desktop:pt-[4px];
}

.sign_up_wrapper {
  @apply mobile:w-full mobile:px-[20px] mobile:pt-[18px];
}

.sign_up_wrapper_desk {
  @apply desktop:w-[580px] desktop:px-[20px] desktop:pt-[28px];
}

.my_profile_wrapper {
  @apply px-[20px] pt-[12px];
}

.my_profile_titlebtn_wrapper {
  @apply flex w-full items-center justify-between border-b border-[#F1F1F1] px-[20px] py-[28px] font-semibold focus:outline-none desktop:px-[80px];
}

.my_profile_blank {
  @apply h-[12px] bg-[#F4F5F5];
}
.my_profile_no_contents {
  @apply p-[20px] text-[#868c92] desktop:px-[80px];
}

.info_message_wrapper {
  @apply pb-[18px] text-[18px] font-semibold leading-[24px] tracking-[-0.45px] text-[#3C4043];
}

.input_title_label {
  @apply block self-stretch py-[1.75px] text-[18px] font-semibold leading-[24px] tracking-[-0.4px] text-[#3C4043];
}

.btn-pink {
  @apply flex h-[56px] w-full items-center justify-center self-stretch rounded-[8px] bg-[#FB657E] p-3 px-[12px] py-[10px] text-[18px] font-semibold leading-[24px] tracking-[-0.4px] text-white;
}

.btn-kakao {
  @apply flex h-[56px] w-full items-center justify-center self-stretch rounded-[8px] bg-[#FAE100] p-3 px-[12px] py-[10px] text-[18px] font-semibold leading-[24px] tracking-[-0.4px] text-[#3C1D1E];
}

.auth_bottom_text_wrapper {
  @apply flex flex-col items-center;
}

.auth_bottom_text_small {
  @apply text-center text-[12px] font-medium not-italic leading-[16px] tracking-[-0.3px] text-[#4D4D4D];
}

.auth_bottom_text_normall {
  @apply text-center text-[14px] font-medium not-italic leading-[19px] tracking-[-0.3px] text-[#4D4D4D];
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-8deg);
  } /* 각도를 줄임 */
  40% {
    transform: rotate(-12deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-custom {
  display: inline-block;
  transform-origin: bottom center; /* 회전 중심점 유지 */
  animation: wave-hand 0.8s cubic-bezier(0.42, 0, 0.58, 1) infinite; /* 더 부드러운 전환 곡선 */
}
