@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #e94500;
  --primary-2: #f99a2c;
  --primary-3: #fb657e;
  --secondary-1: #ff9214;
  --secondary-2: #fff5ec;

  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', sans-serif;
}

/* 자간 */
.letter-spacing-main-title {
  letter-spacing: -0.252px
}

.letter-spacing-detail-content {
  letter-spacing: -0.4px;
}

.letter-spacing-detail-title {
  letter-spacing: -0.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* 텍스트 색상 */
  .text-primary-1 {
    color: var(--primary-1);
  }
  .text-primary-2 {
    color: var(--primary-2);
  }
  .text-primary-3 {
    color: var(--primary-3);
  }
  .text-secondary-1 {
    color: var(--secondary-1);
  }
  .text-secondary-2 {
    color: var(--secondary-2);
  }

  /* 보더 색상 */
  .border-primary-1 {
    border-color: var(--primary-1);
  }
  .border-primary-2 {
    border-color: var(--primary-2);
  }
  .border-primary-3 {
    border-color: var(--primary-3);
  }
  .border-secondary-1 {
    border-color: var(--secondary-1);
  }
  .border-secondary-2 {
    border-color: var(--secondary-2);
  }

  /* 배경색 */
  .bg-primary-1 {
    background-color: var(--primary-1);
  }
  .bg-primary-2 {
    background-color: var(--primary-2);
  }
  .bg-primary-3 {
    background-color: var(--primary-3);
  }
  .bg-secondary-1 {
    background-color: var(--secondary-1);
  }
  .bg-secondary-2 {
    background-color: var(--secondary-2);
  }
}

/* 이미지 페이지 네이션 커스터마이즈드 스타일 */
.custom-swiper-pagination .swiper-pagination-bullet {
  @apply bg-gray-900 opacity-50; /* 기본 페이지네이션 색상 */
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-white opacity-100; /* 현재 보여지는 이미지 페이지네이션 스타일 */
}

/* 버튼 스타일 */
.btn-primary-3 {
  @apply w-full rounded-[8px] bg-[#FB657E] p-3 text-white;
}

.btn-yellow {
  @apply w-full rounded-[8px] bg-[#FAE100] p-3 text-[#443528];
}

.common_input {
  @apply flex h-[56px] w-full flex-shrink-0 items-center gap-[10px] self-stretch rounded-[8px] border border-[#A1A6AA] px-[12px] py-[10px] text-base placeholder-[#868C92];
}
.Toastify__toast-theme--dark {
  opacity: 0.8;
}

.Toastify__toast {
  width: unset;
}
